.topnav {
    font: tahoma small-caps lighter 30px/30px arial;
            
    position: relative;
    background-color: white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 17px;
    padding-top: 40px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    
    color: orange;
   
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Centered section inside the top navigation */
  .topnav-centered  {
    
    position: absolute;
    top: 10px;
    left: 48%;
    
  }
  .topnav-left {
      padding-left: 22%;
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
   
    left: 80%;
    float: right;
    padding-right: 22%;
  }
  
  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right, .topnav-left,.topnav-centered {
      float: none;
      display: block;
    }
  }
    .topnav-centered  {
      float: none;
      display: block;
      
      padding-top: 0px;
      
      background-color: red;
    }
    
    html{
        width: 100%;
        
    }
    body{
          width: 100%;
          background-color: white;
      }
     fieldset{
         width: 97%;
         padding-left: 1%;
        height: 100%;
        background-color: white;
        border: none;
     }
     .firstimage{
       display: flex;
     }
     .firstimage .firstleft{
       width: 80%;
       height: 60px;
     }
     .firstimage .firstright img{
      margin-left: 33vh;
      padding-top: 10vh;
       width: 60%;
       height: 65%;
     }
      .firstimage .firstleft p{
      
      font-family:'Besley', serif;
      font-size: 70px;
      margin-left: 50px;
     
    }
    .firstleft .button{
          -webkit-border-radius: 28;
          -moz-border-radius: 28;
          border-radius: 28px;
          font-family: Georgia;
          color: #ffffff;
          font-size: 23px;
          background: #d93434;
          padding: 10px 20px 10px 20px;
          text-decoration: none;
          margin-left: 50px;
         
          
      }
      .firstleft .button:hover{
          background: #fc9f3c;
          text-decoration: none;
      }
      .firstleft img{
        margin-left: 50px;
        width: 20%;
        background-color: #d93434;
      }
  .butt{
    display: flex;
  }
  .butt .buttleft{
    width: 70%;
  }
  .butt .buttright{
   padding-top: 0px;
  }
  .special
{
 
    background-color:white;
    padding: 100px;
    margin: 10px;
  

}
.special h3{
    
    margin-bottom: 0px;

}

.special h1{
    padding-top: 0px;
    margin-top: 0px;
    font-family: 'Besley', serif;

}
.space
{
    padding-left: 100px;
}
.space h2{
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px; 
    font-family: 'Besley', serif;
}
.space .button{
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 23px;
    background: #d93434;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 40px;
    
}
.space .button:hover{
    background: #fc9f3c;
    text-decoration: none;
}
.specialflex
{
 display: flex;   
}
.specialflex .rpart
{
    padding-left: 300px; 
    margin-top: 20px;
}
 
.main{
background-color: white;
padding:50px;
margin: 10px;
    }

    .main .main_container{
        display: flex;
    }
    .main .main_container .main_img{

    }
    .main .main_container .main_content{
        margin-top: 0px;
        padding-top: 0px;
        margin-left: 90px;
        width: 40%;
        padding: 20px;
        text-align: center;
    }
    .main .main_container .main_content pre{
        margin-top: 50px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        color:orange;
        font-size: 20px;
        font-family: Malgun Gothic Semilight;
        text-align: left;
       }
       .main .main_container .main_content h2{
           text-align: left;
           padding-top: 0px;
           margin-top: 0px;
           font-family: Franklin Gothic Demi;
       }
    .main .main_container .main_content p{
        color:black;
        font-family: tahoma;
        text-align:start;
        letter-spacing: 2px;
    }
    .main .main_container .main_content .spec p{
        font-size: 25px;
    }
    .main .variety{
        display:flex;
    }
    .main .variety .card1{
        width:40%;
        height:200px;
        border:1px solid white;
        margin-right: 20px;
    }
    .main .variety .card1 pre{
        margin-top: 0px;
    }
    .main .variety .card2{
        width:40%;
        height:200px;
        border:1px solid white;
        margin-right: 20px;
    }
    .main .variety .card2 pre{
        margin-top: 0px;
    }
    .main .variety .card3{
        width:40%;
        height:200px;
        border:1px solid white;
        }
        .main .variety .card3 pre{
            margin-top: 0px;
        }
    .main .variety img{
        width: 100%;
        height: 40%;
    }
    .main1{
        display:flex;
    }
    .main1 .suci{
      width:50%;
      height:500px;
      border:1px solid white;
    }
    .main1 .suci img{
        width: 90%;
        height: 100%;
    }
    .main .suci_txt{
        width:80%;
        height:500px;
        border:1px solid white;
    }
    .main .suci_txt h2{
        margin-left: 150px;
        margin-top: 80px;
        font-family: 'Besley', serif;
    }
    .main .suci_txt pre{
        font-size: 30px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .main .suci_txt p{
        padding-top: 0px;
        margin-top: 0px;
        font-family: 'BenchNine', sans-serif;
    }
    .main .amount h2{
        margin-top: 0px;
        margin-left: 220px;
    }
    .main1 .button{
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Georgia;
        color: #ffffff;
        font-size: 23px;
        background: #d93434;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        margin-left: 230px;
    }
    .main1 .button:hover{
        background: #fc9f3c;
        text-decoration: none;
    }
    .main2{
        text-align: center;
        margin-left: 0px;
        font-weight:bolder;
        color: black;
    }
    .main2 p{
        font-weight: bolder;
        font-size: 30px;
        font-family: 'Arapey', serif;
    }